<!-- To install bootstrap [ng add @ng-bootstrap/ng-bootstrap] -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Restaurant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
      <a class="nav-item nav-link" routerLink="add">Add restaurant</a>
      <a class="nav-item nav-link" routerLink="">List restaurant</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="register">Register</a>
      <!-- <a class="nav-item nav-link" routerLink="update">Update restaurant</a> -->
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <p>Registered by rakesh sharma</p>
  </footer>
</div>

